# copy this file and rename it to config.py
# then modify the app_key and app_secret to which aliyun has given to you.
ALIYUN_CONFIG = {
    'HOST': 'https://dm-53.data.aliyun.com',
    'URL': '/rest/160601/ocr/ocr_vehicle.json',
    'APP_KEY': '', 
    'APP_SECRET': ''
}
